﻿body {
    /*padding-top: 50px;
    padding-bottom: 20px;*/
    background-color: rgb(1,0,0);
    color: rgb(252,252,252);
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

/*from bootstap studio*/
#main {
    width: 100%;
    height: 120vh;
    background-image: url("../images/lion.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

@media (min-width: 992px) {
    #main {
        background-image: url("../images/lion.jpg");
    }
}

.navbar-light .navbar-brand {
    font-size: 35px;
    font-family: 'Alfa Slab One', cursive;
}

.navbar-expand-md .navbar-nav {
    font-size: 16px;
    font-family: 'Alfa Slab One', cursive;
    font-weight: normal;
    font-style: normal;
    color: rgb(0,0,0);
}

#navcol-1 {
    text-transform: uppercase;
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(34,34,34);
}

.h1, h1 {
    margin-top: 250px;
    margin-left: 1100px;
    font-size: 30px;
    font-family: 'Aguafina Script', cursive;
    width: 50px;
}

p {
    font-family: Adamina, serif;
    font-weight: normal;
    font-style: italic;
}

p {
    font-family: Adamina, serif;
}

#main-bot {
    color: #fff;
}

    #main-bot .container {
        text-align: left;
    }
