body {
  background-color:#d5cccc;
}

#main {
  width:100%;
  height:120vh;
  background-image:url("../../assets/img/lion.jpg");
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;
}

@media (min-width: 992px) {
  #main {
    background-image:url("../../assets/img/lion.jpg");
  }
}

.navbar-light .navbar-brand {
  font-size:35px;
  font-family:'Alfa Slab One', cursive;
  color:rgba(255,255,255,0.9);
}

.navbar-expand-md .navbar-nav {
  font-size:16px;
  font-family:'Alfa Slab One', cursive;
  font-weight:normal;
  font-style:normal;
  color:rgb(255,255,255);
}

#navcol-1 {
  text-transform:uppercase;
  color:rgb(255,255,255);
  font-size:20px;
}

.navbar-light .navbar-nav .nav-link {
  color:rgb(255,255,255);
}

p {
  font-family:Adamina, serif;
  font-weight:normal;
  font-style:italic;
}

p {
  font-family:Adamina, serif;
  color:black;
}

#main-bot {
  color:#fff;
}

#main-bot .container {
  text-align:left;
}

#animal-main {
  width:1000px;
  height:260px;
  background-color:#ffffff;
  color:rgb(8,8,8);
  max-width:1000px;
  margin:0 auto;
  padding-top:20px;
}

#animal-heading {
  font-family:'Abril Fatface', cursive;
  font-size:40px;
}

#caption {
  margin-top:250px;
  margin-left:1100px;
  font-size:30px;
  font-family:'Aguafina Script';
  width:50px;
}

#animal-top {
  background-color:#558B2F;
}

#line {
  border:1px solid black;
  border-bottom:0;
  border-left:0;
  width:900px;
  height:20px;
}

#animal-table {
  height:250px;
}

#tiger-title {
  position:absolute;
  color:rgb(255,255,255);
  font-size:30px;
  right:20px;
  font-family:'Abril Fatface', cursive;
}

#animal-extra-title {
  font-family:'Abril Fatface', cursive;
  color:#388E3C;
}

#border-col {
  border:1px solid rgba(0,0,0,0.58);
  border-top:0;
  border-bottom:0;
}

#animal-bottom-extra {
  width:1000px;
  height:450px;
  background-color:#ffffff;
  color:rgb(0,0,0);
  max-width:1000px;
  margin:0 auto;
}

#other-brand {
  color:white;
}

#other-item {
  color:rgb(255,255,255);
}

.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
  color:white;
}

#main-link1 {
  color:black;
}

#animal-title {
  position:absolute;
  color:white;
  font-size:30px;
  right:20px;
  font-family:'Abril Fatface';
}

#main-link2 {
  color:black;
}

#main-link3 {
  color:black;
}

#main-link4 {
  color:black;
}

#login-link1 {
  color:black;
}

#login-link2 {
  color:black;
}

.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
  color:rgba(255,255,255,0.9);
}

.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
  color:rgba(0,0,0,.9);
}

#button-div {
  max-width:1000px;
  margin:0 auto;
  background-color:white;
  padding-bottom:40px;
}

#brand {
  color:black;
}

#animal-details {
  background-color:white;
  max-width:1000px;
  width:1000px;
  margin:0 auto;
}

#details-body {
  width:1000px;
  max-width:1000px;
  background-color:white;
  margin:0 auto;
  padding-top:40px;
}


#ticket-details-body {
    width: 1000px;
    max-width: 1000px;
    background-color: white;
    margin: 0 auto;
    padding-top: 40px;
    margin-left:-40px;
}

.header-para {
  color:white;
}

.copyright {
  color:white;
}

#buy-body {
  width:1000px;
  max-width:1000px;
  background-color:white;
  margin:0 auto;
}

