.footer-dark {
  padding:50px 0;
  color:#f0f9ff;
  background-color:#282d32;
}

.footer-dark h3 {
  margin-top:0;
  margin-bottom:12px;
  font-weight:bold;
  font-size:16px;
}

.footer-dark ul {
  padding:0;
  list-style:none;
  line-height:1.6;
  font-size:14px;
  margin-bottom:0;
}

.footer-dark ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.6;
}

.footer-dark ul a:hover {
  opacity:0.8;
}

@media (max-width:767px) {
  .footer-dark .item:not(.social) {
    text-align:center;
    padding-bottom:20px;
  }
}

.footer-dark .item.text {
  margin-bottom:36px;
}

@media (max-width:767px) {
  .footer-dark .item.text {
    margin-bottom:0;
  }
}

.footer-dark .item.text p {
  opacity:0.6;
  margin-bottom:0;
}

.footer-dark .item.social {
  text-align:center;
}

@media (max-width:991px) {
  .footer-dark .item.social {
    text-align:center;
    margin-top:20px;
  }
}

.footer-dark .item.social > a {
  font-size:20px;
  width:36px;
  height:36px;
  line-height:36px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  box-shadow:0 0 0 1px rgba(255,255,255,0.4);
  margin:0 8px;
  color:#fff;
  opacity:0.75;
}

.footer-dark .item.social > a:hover {
  opacity:0.9;
}

.footer-dark .copyright {
  text-align:center;
  padding-top:24px;
  opacity:0.3;
  font-size:13px;
  margin-bottom:0;
}

#animal-welcome-promo {
  text-align:center;
  padding:40px;
  padding-top:100px;
  background:url(../../assets/img/backgroundwelcome2.jpg);
  color:rgb(0,0,0);
  width:1000px;
  background-image:url("../../assets/img/backgroundwelcome2.jpg");
  background-repeat:round;
}

#animal-welcome-promo2 {
  text-align:center;
  padding:40px;
  padding-top:100px;
  background:url(../../assets/img/backgroundwelcome2.jpg);
  color:rgb(0,0,0);
  width:1000px;
  background-image:url("../../assets/img/backgroundwelcome2.jpg");
  background-repeat:round;
}

#animal-welcome-promo .jumbotron {
  border-radius:50px;
  padding:40px;
  background-color:rgba(255,255,255,0);
  max-width:800px;
  margin:0 auto;
}

#animal-welcome-promo2 .jumbotron {
  border-radius:50px;
  padding:40px;
  background-color:rgba(255,255,255,0);
  max-width:800px;
  margin:0 auto;
}

@media (min-width: 1200px) {
  #animal-welcome-promo .jumbotron {
    padding:20px;
    background-color:rgba(255,255,255,0);
  }
}

@media (min-width: 1200px) {
  #animal-welcome-promo2 .jumbotron {
    padding:20px;
    background-color:rgba(255,255,255,0);
  }
}

#welcome-heading {
  font-family:'Alfa Slab One', cursive;
}

#welcome-para {
  color:#ffffff;
  font-family:Adamina, serif;
}

#details-heading {
  font-size:50px;
  font-family:'Abril Fatface', cursive;
  background-color:#8BC34A;
  color:rgb(255,254,254);
  width:1000px;
  margin:0px;
  margin-left:-15px;
}

#ticket-details-heading {
  font-size:50px;
  font-family:'Abril Fatface', cursive;
  background-color:#8BC34A;
  color:rgb(255,254,254);
  width:1000px;
  margin-left:-15px;
}

#details-row {
  padding-top:20px;
}

#animal-list {
  color:black;
}

#col-border-details {
  border:1px solid black;
  border-top:0;
  border-left:0;
  border-right:0;
}

#animal-info {
  padding-top:10px;
}

#go-back-button {
  background-color:#558B2F;
  width:200px;
  border-radius:30px;
  height:50px;
  color:white;
  font-family:'Abril Fatface';
  text-align:center;
  font-size:20px;
}

#ticket-details {
  padding:40px;
  background-color:white;
  width:1000px;
}

#ticket-heading {
  font-family:'Abril Fatface', cursive;
  color:#558B2F;
  padding-bottom:30px;
}

#ticket-body {
  padding:40px;
}

#ticket-col {
  border:1px solid black;
  border-top:0;
  border-bottom:0;
  padding:10px;
  border-left:0;
}

#ticket-col2 {
  padding:10px;
  padding-left:20px;
}

#ticket-buy-heading {
  color:#558B2F;
  padding:20px;
  font-family:'Alfa Slab One', cursive;
}

#buy-details {
  background-color:white;
  padding-bottom:40px;
}

#ticket-buy-heading2 {
  padding-right:20px;
  padding-bottom:20px;
  padding-left:20px;
  color:rgb(0,0,0);
  font-family:'Abril Fatface', cursive;
}

.dropdown-only {
  width:50px;
  max-width:50px;
}

#dropdown-button {
}

.ticket-menu {
  width:500px;
  color:rgb(0,0,0);
  font-size:20px;
  font-family:Adamina, serif;
}

#ticket-para {
  font-size:14px;
  font-family:Adamina, serif;
}

#tyimage {
  background-size:contain;
  width:900px;
}

#brand {
  color:black;
}

#report-title {
  color:white;
  background-color:#8BC34A;
  padding:20px;
  font-size:40px;
  font-family:'Abril Fatface', cursive;
  border: 1px solid black;
}

#report-details {
  padding-top:40px;
  padding-bottom:40px;
  background-color:white;
}

#report-cell {
  width:320px;
  border:1px solid black;
}

#report-cell2 {
  border:1px solid black;
}

#report-table {
  padding:20px;
  font-family:'Abril Fatface', cursive;
}

#filter {
  padding:20px;
}

.report-para {
  font-family:'Alfa Slab One', cursive;
}

#filter-button {
  background-color:#558B2F;
  color:rgb(255,255,255);
  margin-left:40px;
}

#report-img {
}

#register-form {
  padding-top:40px;
}

