﻿@model IEnumerable<ZOO.Models.ApplicationUser>
@{
    ViewData["Title"] = "All User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>All User</h2>


<form asp-controller="Manage" asp-action="All" method="get">
    <p>
        Title: <input type="text" name="Search">
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                @{
                    var usermanager = (UserManager<ApplicationUser>)ViewData["Manager"];
                    string role = "";
                    try
                    {
                        role = usermanager.GetRolesAsync(item).Result.First();

                    }
                    catch(Exception)
                    {
                        role = "";
                    }

                }
                <td>
                    @role
                </td>

                <td>
                    @if (User.IsInRole("Admin") && role == "Worker")
                    {
                        if (role == "Worker")
                        {
                            <a asp-action="All" asp-route-id="@item.Id" name="Id">remove</a>
                        }
                        else
                        {
                            <a asp-action="All" asp-route-id="@item.Id" name="IdChange">Change to Worker</a>
                        }

                    }
                </td>
            </tr>


        }
    </tbody>
</table>