﻿@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<div class="row">
    <div class="col">
        <p style="font-family:Adamina, serif;">Open 10 a.m. - 8 p.m.</p>
    </div>
</div>
<div class="row">
    <div class="col">
        <p style="font-family:normal;">"The best experience of your life starts here!"</p>
    </div>
</div>

@*<h1>Welcome  To Cosc 3380 (Database) ZOO Project</h1>*@