﻿@model ZOO.Models.Attraction

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout3.cshtml";
}

<div id="animal-details">
    <div class="container" id="details-body">
        <h1 class="text-center" id="details-heading">@Model.Name</h1>
        <div class="row" id="details-row">
            <div class="col" id="animal-pic">
                @if (Model.AvatarImage == null)
                {
                    <div class="card"><img class="img-fluid" src="~/images/NoImg.png"></div>

                }
                else
                {

                    <div class="card"><img class="img-fluid" src="@string.Format("data:image/png;base64,{0}", Convert.ToBase64String(Model.AvatarImage))"></div>
                }

            </div>
            <div class="col">
                <div class="row">
                    <div class="col" id="col-border-details">
                        <p>
                            @Model.Description
                            @*Gorillas inhabit a variety of forests as well as lowland areas in their native habitat. Their diet is mainly fruit and vegetation. This endangered gorilla faces many threats. Their native habitat in central and west Africa
                                is shrinking largely due to the expansion of mining and agriculture n the area.*@
                        </p>
                    </div>
                </div>
                <div class="row" id="animal-info">
                    <div class="col">
                        <ul id="animal-list">
                            @*<li><strong>Animal Name:    </strong>@Model.Name</li>*@
                            <li><strong>Exhibition ID:         </strong>@Model.ID</li>
                            <li><strong>Location:        </strong>@Model.Location</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    @if (User.IsInRole("Admin") || User.IsInRole("Worker"))
    {
        <div id="button-div" class="text-center"><a class="btn btn-primary" role="button" a asp-action="Edit" asp-route-id="@Model.ID" id="go-back-button">Edit</a></div>
        <div id="button-div" class="text-center"><a class="btn btn-primary" role="button" a asp-action="Delete" asp-route-id="@Model.ID" id="go-back-button">Delete</a></div>

    }
    <div id="button-div" class="text-center"><a class="btn btn-primary" role="button" a asp-action="Index" id="go-back-button">Back to Exhibits</a></div>
</div>




@*<h2>Details</h2>

    <div>
        <h4>Attraction</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Location)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Location)
            </dd>
        </dl>
    </div>
    <div>
        @if (User.IsInRole("Admin") || User.IsInRole("Worker"))
        {
            <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a>
        }
         |
        <a asp-action="Index">Back to List</a>
    </div>*@
