﻿@model List<ZOO.Models.Animal>

@{
    ViewData["Title"] = "Animal";
    Layout = "~/Views/Shared/_Layout3.cshtml";
    var setNewView = true;
}

<div class="mx-auto" id="animal-welcome-promo">
    <div class="jumbotron">
        <h1 id="welcome-heading">Meet the Animals!</h1>
        <p id="welcome-para">Explore the animals and learn more about their habitats. There are many great information regarding each animals to discover.</p>
    </div>
</div>
<div class="mx-auto" id="animal-body">
    @*<div class="container mx-auto" id="animal-main">*@

    @for (var i = 0; i < Model.Count; i += 3)
    {
        <div class="container mx-auto" id="animal-main">
            <div class="row" id="animal-table">
                @if (Model.Count > i)
                {

                    <div class="col-4">
                        <div class="card">
                            @if (Model[i].AvatarImage != null)
                            {
                                <h4 id="animal-title">@Model[i].Name</h4><a asp-action="Details" asp-route-id="@Model[i].ID"><img class="img-fluid" src="@string.Format("data:image/png;base64,{0}", Convert.ToBase64String(Model[i].AvatarImage))"></a>
                            }
                            else
                            {
                                <h4 id="animal-title">@Model[i].Name</h4><a asp-action="Details" asp-route-id="@Model[i].ID"><img class="img-fluid" src="~/images/NoImg.png"></a>
                            }
                        </div>
                    </div>

                }

                @if (Model.Count == i && (User.IsInRole("Admin")) || (User.IsInRole("Worker")))
                {
                    <div class="col-4">
                        <div class="card">
                            <h4 id="animal-title"></h4><a asp-action="Create"><img class="img-fluid" src="~/images/Add.jpg"></a>
                            @{
                                setNewView = false;
                            }
                        </div>
                    </div>
                }

                @if (Model.Count > i + 1)
                {
                    <div class="col-4">
                        <div class="card">
                            @if (Model[i + 1].AvatarImage != null)
                            {
                                <h4 id="animal-title">@Model[i + 1].Name</h4><a asp-action="Details" asp-route-id="@Model[i+1].ID"><img class="img-fluid" src="@string.Format("data:image/png;base64,{0}", Convert.ToBase64String(Model[i+1].AvatarImage))"></a>
                            }
                            else
                            {
                                <h4 id="animal-title">@Model[i + 1].Name</h4><a asp-action="Details" asp-route-id="@Model[i+1].ID"><img class="img-fluid" src="~/images/NoImg.png"></a>
                            }
                        </div>
                    </div>
                }

                @if (Model.Count == i + 1 && (User.IsInRole("Admin")) || (User.IsInRole("Worker")))
                {
                    <div class="col-4">
                        <div class="card">
                            <h4 id="animal-title"></h4><a asp-action="Create"><img class="img-fluid" src="~/images/Add.jpg"></a>
                            @{
                                setNewView = false;
                            }
                        </div>
                    </div>
                }

                @if (Model.Count > i + 2)
                {

                    <div class="col-4">
                        <div class="card">
                            @if (Model[i + 2].AvatarImage != null)
                            {
                                <h4 id="animal-title">@Model[i + 2].Name</h4><a asp-action="Details" asp-route-id="@Model[i+2].ID"><img class="img-fluid" src="@string.Format("data:image/png;base64,{0}", Convert.ToBase64String(Model[i+2].AvatarImage))"></a>
                            }
                            else
                            {
                                <h4 id="animal-title">@Model[i + 2].Name</h4><a asp-action="Details" asp-route-id="@Model[i+2].ID"><img class="img-fluid" src="~/images/NoImg.png"></a>
                            }
                        </div>
                    </div>
                }

                @if (Model.Count == i + 2 && (User.IsInRole("Admin")) || (User.IsInRole("Worker")))
                {
                    <div class="col-4">
                        <div class="card">
                            <h4 id="animal-title"></h4><a asp-action="Create"><img class="img-fluid" src="~/images/Add.jpg"></a>
                            @{
                                setNewView = false;
                            }
                        </div>
                    </div>
                }

            </div>
        </div>

    }

    @if (setNewView && (User.IsInRole("Admin")) || (User.IsInRole("Worker")))
    {
        <div class="container mx-auto" id="animal-main">
            <div class="row" id="animal-table">
                <div class="col-4">
                    <div class="card">
                        <h4 id="animal-title"></h4><a asp-action="Create"><img class="img-fluid" src="~/images/Add.jpg"></a>
                    </div>
                </div>
            </div>
        </div>
    }
    @*</div>*@
</div>

@*<h2>Index</h2>

    <p>
        <a asp-action="Create">Create New</a>
    </p>

    <form asp-controller="Animals" asp-action="Index" method="get">
        <p>
            Title: <input type="text" name="Search">
            <input type="submit" value="Filter" />
        </p>
    </form>

    <table class="table">
        <thead>
            <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Gender)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SpeciesType)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DOB)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Vaccinated)
                    </th>
                <th>
                    @Html.DisplayNameFor(model => model.Attraction)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Gender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SpeciesType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DOB)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Vaccinated)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Attraction.Name)
                </td>
                <td>
                    @if (User.IsInRole("Admin") || User.IsInRole("Worker"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.ID">Edit</a>
                        <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                    }
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a>

                </td>
            </tr>
    }
        </tbody>
    </table>*@
