﻿@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="register-photo">
    <div id="register-form" class="form-container">
        <div class="image-holder"></div>
        <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
            <h2 class="text-center"><strong>Create</strong> an account.</h2>
            <div class="form-group"><input asp-for="FirstName" class="form-control" type="text" placeholder="First Name" name="firstname"></div>
            <div class="form-group"><input asp-for="LastName" class="form-control" type="text" placeholder="Last Name" name="lastname"></div>
            <div class="form-group"><input asp-for="Email" class="form-control" type="email" name="email" placeholder="Email"></div>
            <div class="form-group"><input asp-for="PhoneNumber" class="form-control" type="tel" name="PhoneNumber" placeholder="Phone Number"></div>
            <div class="form-group"><input asp-for="Password" class="form-control" type="password" name="password" placeholder="Password"></div>
            <div class="form-group"><input asp-for="ConfirmPassword" class="form-control" placeholder="Password (repeat)"></div>
            <div class="form-group">
                <div class="form-check"><label class="form-check-label"><input class="form-check-input" type="checkbox">I agree to the license terms.</label></div>
            </div>
            <div class="form-group">
                <label class="form-check-label">@ViewBag.password</label>
            </div>
            <div class="form-group"><button class="btn btn-primary btn-block" type="submit" style="background-color:#8BC34A;">Sign Up</button></div><a asp-action="Login" class="already">You already have an account? Login here.</a>
        </form>
    </div>
</div>
@*<div class="row">
        <div class="col-md-4">
            <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
                <h4>Create a new account.</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FirstName"></label>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LastName"></label>
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PhoneNumber"></label>
                    <input asp-for="PhoneNumber" class="form-control" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword"></label>
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-default">Register</button>
            </form>
        </div>
    </div>*@

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
