﻿@model List<ZOO.Models.Animal>

@{
    ViewData["Title"] = "Animal Report";
    Layout = "~/Views/Shared/_Layout3.cshtml";
}
<div class="mx-auto" id="report-details">
    <div class="container" id="buy-body">
        <h2 class="text-center" id="report-title">Animal Report</h2>
        <div class="row" id="filter">
            <div class="col">
                <form asp-controller="Report" asp-action="Animal" method="get">
                    <p class="report-para">Starting from:</p><input type="date" name="fromTime" value="@ViewBag.fromTime">
                    <p class="report-para">Ending at:</p><input type="date" name="toTime" value="@ViewBag.toTime">
                    <input type="submit" class="btn btn-primary" id="filter-button">
                </form>
            </div>
            <div class="col"><img class="img-fluid" src="~/assets/img/Australia-Sunset-7.jpg" id="report-img"></div>
        </div>
        
        <div class="table-responsive" id="report-table">
            <table class="table table-bordered">
                <p>Filtering from @ViewBag.fromTime to @ViewBag.toTime</p>
                <thead>
                    <tr></tr>
                </thead>
                <tbody>
                    <tr>
                        <td id="report-cell">Total Number of Animals Added in the Zoo:</td>
                        <td id="report-cell2">@Model.Count</td>
                    </tr>
                    <tr>
                        <td id="report-cell">Total Number of Male Gender Animal:</td>
                        <td id="report-cell2">@Model.Where(a => a.Gender == "Male").Count()</td>
                    </tr>
                    <tr>
                        <td id="report-cell">Total Number of Female Gender Animal:</td>
                        <td id="report-cell2">@Model.Where(a => a.Gender == "Female").Count()</td>
                    </tr>
                    <tr>
                        <td id="report-cell">Total Number of Vaccinated Animal:</td>
                        <td id="report-cell2">@Model.Where(a => a.Vaccinated == true).Count()</td>
                    </tr>
                </tbody>
            </table>

            <br />
            <p>List of all Animal added during this time</p>
            <table class="table table-bordered">
                <thead>
                    <tr></tr>
                </thead>
                <tbody>
                    @foreach (var m in Model)
                    {
                        <tr>
                            <td id="report-cell">@m.Name</td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
</div>