﻿@model List<ZOO.Models.TicketPurchase>

@{
    ViewData["Title"] = "Animal Report";
    Layout = "~/Views/Shared/_Layout3.cshtml";

    var subTotal = Model.Sum(a => a.Amount) - Model.Sum(a => a.Tax);
}
<div class="mx-auto" id="report-details">
    <div class="container" id="buy-body">
        <h2 class="text-center" id="report-title">Financial Report</h2>
        <div class="row" id="filter">
            <div class="col">
                <form asp-controller="Report" asp-action="Ticket" method="get">
                    <p class="report-para">Starting from:</p><input type="date" name="fromTime" value="@ViewBag.fromTime">
                    <p class="report-para">Ending at:</p><input type="date" name="toTime" value="@ViewBag.toTime">
                    <input type="submit" class="btn btn-primary" id="filter-button">
                </form>
            </div>
            <div class="col"><img class="img-fluid" src="~/assets/img/Australia-Sunset-7.jpg" id="report-img"></div>
        </div>

        <div class="table-responsive" id="report-table">
            <table class="table table-bordered">
                <p>Filtering from @ViewBag.fromTime to @ViewBag.toTime</p>
                <thead>
                    <tr></tr>
                </thead>
                <tbody>
                    <tr>
                        <td id="report-cell">Total Tickets Sold:</td>
                        <td id="report-cell2">@Model.Sum(a => a.Quantity)</td>
                    </tr>
                    <tr>
                        <td id="report-cell">Sub Total:</td>
                        <td id="report-cell2">@subTotal</td>
                    </tr>
                    <tr>
                        <td id="report-cell">Total Tax:</td>
                        <td id="report-cell2">@Model.Sum(a=>a.Tax)</td>
                    </tr>
                    <tr>
                        <td id="report-cell">Net Total:</td>
                        <td id="report-cell2">@Model.Sum(a=>a.Amount)</td>
                    </tr>
                </tbody>
            </table>

            <br />
            <p>All Order</p>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Order ID</th>
                        <th>Quantity</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var m in Model)
                    {
                    <tr>
                        <td id="report-cell">@m.ID</td>
                        <td id="report-cell">@m.Quantity</td>
                        <td id="report-cell">$@m.Amount</td>
                    </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
</div>