﻿@model List<ZOO.Models.ViewModel.TicketsViewModel>

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout3.cshtml";
    var ticket = (List<Ticket>)ViewBag.Ticket;
}

<div class="mx-auto" id="buy-details">
    <div class="container" id="buy-body">
        <form asp-controller="Tickets" asp-action="ThankYou" method="post" role="form">
            <h2 id="ticket-buy-heading">Kalamari Zoo Admission Tickets</h2>
            <h4 id="ticket-buy-heading2">Zoo General Admission tickets are valid for 90 days from date of purchase.</h4>
            <div class="table-responsive" style="height:400px;">
                <table class="table">
                    <thead>
                        <tr></tr>
                    </thead>
                    <tbody>

                        @for (int i = 0; i < ticket.Count; i++)
                        {
                            <tr>
                                <td class="dropdown-only">
                                    <div class="dropdown">
                                        @*<select asp-for="@tix.Count" class="form-control" asp-items="@ViewBag.ListCount"></select>*@
                                        <input asp-for="@Model[i].Count" value="0" class="form-control">
                                        <input type="hidden" asp-for="@Model[i].Price" value="@ticket[i].Price" class="form-control ">
                                        <input type="hidden" asp-for="@Model[i].ID" value="@ticket[i].ID" class="form-control ">
                                    </div>
                                </td>
                                <td class="ticket-menu">
                                    <strong>@ticket[i].Type</strong>
                                    <p id="ticket-para">$@ticket[i].Price</p>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
            @*<a class="btn btn-primary" role="button" asp-action="ThankYou" id="go-back-button">Buy Now<i class="fa fa-chevron-right"></i></a>*@
            <input type="submit" class="btn btn-primary" id="filter-button">
        </form>
    </div>
</div>

@*<h2>Details</h2>

    <div>
        <h4>Ticket</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Type)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Type)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Price)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Price)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Date)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Date)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>*@
