﻿@model List<ZOO.Models.Ticket>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout3.cshtml";
}

<div class="mx-auto" id="ticket-details">
    <div class="container" id="ticket-details-body">
        <h1 class="text-center" id="ticket-details-heading">Buy Tickets</h1>
        <div class="row" id="ticket-body">
            <div class="col" id="ticket-col">
                <h3 id="ticket-heading">Daytime General Admission</h3>
                <ul style="color:rgb(0,0,0);font-size:20px;">
                    @foreach (var tix in Model)
                    {
                        string price = "";
                        if (tix.Price != null)
                        {
                            price = tix.Price == 0 ? "FREE" : "$"+tix.Price.ToString();
                        }
                        else
                        {
                            price = "FREE";
                        }
                        <li>@tix.Type- <strong>@price</strong></li>

                    }
                </ul>
                <p>Purchase your tickets online and skip the line at the gate! Show the digital receipt or ticket at the Online ticket line or present your Membership card at the Membership line!</p>
                <div id="button-div" class="text-center"><a class="btn btn-primary" role="button" asp-action="Details" id="go-back-button">Buy Now&nbsp;<i class="fa fa-chevron-right"></i></a></div>
            </div>
            <div class="col" id="ticket-col2">
                <h3 id="ticket-heading">Become a Member!</h3>
                <p>Members get free admission to the zoo for only <strong>$30!</strong> Become a member and enjoy free daytime admission for the entire year and many other great benefits!</p>
                <div id="button-div" class="text-center"><a class="btn btn-primary" role="button" asp-action="thankyoumember" id="go-back-button">Membership&nbsp;<i class="fa fa-chevron-right"></i></a></div>
            </div>
        </div>
    </div>
</div>


