﻿@model List<ZOO.Models.TicketPurchase>

@{
    ViewData["Title"] = "ThankYou";
    Layout = "~/Views/Shared/_Layout3.cshtml";
}

<div class="mx-auto" id="buy-details">
    <div class="container" id="buy-body">
        <h2 id="ticket-buy-heading">Thank you for your purchase!</h2>

        <table class="table table-bordered">
            <thead>
                <tr></tr>
            </thead>
            <tbody>
                @foreach (var m in Model)
                {
                    <tr>
                        @if (m.Ticket != null)
                        {
                            <td id="report-cell">@m.Ticket.Type</td>

                        }
                        else
                        {
                            <td id="report-cell">Membership</td>

                        }
                        <td id="report-cell">@m.Quantity</td>
                        <td id="report-cell">$@Decimal.Round(m.Amount, 2)</td>
                    </tr>
                }
            </tbody>
        </table>

        <p>You purchased @Model.Sum(a => a.Quantity) Tickets/Memberships</p>
        <p>You paid $@Model.Sum(a => Decimal.Round(a.Amount,2)) including $@Model.Sum(a => Decimal.Round(a.Tax,2)) tax</p>
        <br />
        <h4 id="ticket-buy-heading2">Please check your emails for a confirmation number and use your receipt for admission or print out the ticket from your email. We hope you have a great time with our lovely animals!</h4><img src="~/assets/img/typage.jpg" id="tyimage">
    </div>
</div>
