﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zoo</title>
    <link rel="stylesheet" href="~/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Adamina">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aguafina+Script">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alfa+Slab+One">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bahiana">
    <link rel="stylesheet" href="~/assets/css/Footer-Dark.css">
    <link rel="stylesheet" href="~/assets/css/styles.css">
</head>
<body>
    <section class="d-flex flex-column justify-content-between" id="main">
        <div id="main-top">
            <nav class="navbar navbar-light navbar-expand-md">
                <div class="container-fluid">
                    <a class="navbar-brand" id="brand" asp-area="" asp-controller="Home" asp-action="Index">Kalamari Zoo</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse"
                         id="navcol-1" style="font-size:16px;">
                        <ul class="nav navbar-nav">
                            <li class="nav-item" role="presentation"><a class="nav-link" id="main-link1" asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                            <li class="nav-item" role="presentation"><a class="nav-link" id="main-link2" asp-area="" asp-controller="Animals" asp-action="Index">Animals</a></li>
                            <li class="nav-item" role="presentation"><a class="nav-link" id="main-link3" asp-area="" asp-controller="Attractions" asp-action="Index">Exhibits</a></li>
                            <li class="nav-item" role="presentation"><a class="nav-link" id="main-link4" asp-area="" asp-controller="Tickets" asp-action="Index">Tickets</a></li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="main-link1" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Reports
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" asp-area="" asp-controller="Report" asp-action="Animal">Animal</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Report" asp-action="Ticket">Financial</a>
                                </div>
                            </li>
                            @if (User != null && User.IsInRole("Admin"))
                            {

                                <li class="nav-item" role="presentation"><a class="nav-link" id="main-link4" asp-area="" asp-controller="Worker" asp-action="Index">Worker</a></li>

                            }
                        </ul>
                        @await Html.PartialAsync("_LoginPartial2")
                    </div>
                </div>
            </nav>
        </div>
        <div id="main-bot">
            <div class="container">
                @RenderBody()
            </div>
        </div>
    </section>
    <div class="footer-dark">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3 item">
                        <h3>Services</h3>
                        <ul>
                            <li>Animals</li>
                            <li>Exhibits</li>
                            <li>Tickets</li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3 item">
                        <h3>About</h3>
                        <ul>
                            <li><a href="#">Company</a></li>
                            <li><a href="#">Team</a></li>
                            <li><a href="#">Careers</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 item text">
                        <h3>Kalamari Zoo</h3>
                        <p class="header-para">The most exotic animal in the nation. Discover our exhibits and unique animals habits throughout the zoo. Be prepared to be entertained.</p>
                    </div>
                    <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div>
                </div>
                <p class="copyright">KALAMARIZOO@2018</p>
            </div>
        </footer>
    </div>
    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/bootstrap/js/bootstrap.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>