@using Microsoft.AspNetCore.Identity
@using ZOO.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm">
        <ul class="nav navbar-nav ml-auto">
            <li class="nav-item" role="presentation">
                @*<a class="nav-link" asp-area="" asp-controller="Manage" asp-action="Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>*@
                <a class="nav-link" id="login-link1" asp-area="" asp-controller="Manage" asp-action="Index" title="Manage">Account</a>
            </li>
            <li class="nav-item" role="presentation">
                <button type="submit" class="btn btn-link navbar-btn navbar-link">Log out</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav ml-auto">
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="login-link1" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="login-link2" asp-area="" asp-controller="Account" asp-action="Login">Log in</a>
        </li>
    </ul>
}
